<div class="container-fluid mt-5">

<div class="shadow-sm p-3 text-light bg-dark border-top-reviews">
    <div class="row">
      <div class="col-md-8">
        <h4><i class="far fa-list-alt"></i> Start shopping</h4>
      </div>
      <div class="col-md-4">
        <a href="/" class="float-right text-danger"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a>
      </div>
    </div>
</div>

<div class="shadow-sm p-3 mb-5 bg-white">
<div class="row">
    <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-3">

        <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
          <%=image_tag('hoody.jpg', class:"img-fluid")%>
          <hr>
          <h5> <span class="badge bg-danger text-light">Premium Pullover Hoodie</span></h5>
          <small class="mb-3">Regular fit, white drawcords, kangaroo pocket, unisex</small>
          <a href="https://teespring.com/octal-early-bird?pid=227" class="btn btn-sm btn-primary" target="_blank">Buy</a>
          </div>

        </div>

        <div class="col-lg-3">

          <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
            <%=image_tag('printover.jpg', class:"img-fluid")%>
            <hr>
            <h5> <span class="badge bg-success text-light">All-Over Print Unisex Tee</span></h5>
            <small class="mb-3">Regular fit. Sublimated all-over printed t-shirt.<br><br></small>
            <a href="https://teespring.com/octal-early-bird-print-over-t?pid=823&cid=103662" class="btn btn-sm btn-primary" target="_blank">Buy</a>
            </div>

        </div>
        <div class="col-lg-3">

          <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
            <%=image_tag('woman_tshirt.jpg', class:"img-fluid")%>
            <hr>
            <h5> <span class="badge badge-secondary text-light">Women's Comfort Tee</span></h5>
            <small class="mb-3">Regular fit.<br> <br></small>
            <a href="https://teespring.com/octal-early-bird?pid=370" class="btn btn-sm btn-primary" target="_blank">Buy</a>
          </div>
        </div>

        <div class="col-lg-3">

          <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
            <%=image_tag('male_tshirt.jpg', class:"img-fluid")%>
            <hr>
            <h5> <span class="badge bg-dark text-light">Classic Tee</span></h5>
            <small class="mb-3">Regular fit, unisex<br> <br></small>
            <a href="https://teespring.com/octal-early-bird?pid=2" class="btn btn-sm btn-primary" target="_blank">Buy</a>
            </div>

        </div>
    </div>
    </div>



    <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-3">

        <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
          <%=image_tag('face_mask.jpg', class:"img-fluid")%>
          <hr>
          <h5> <span class="badge bg-primary text-light">Cloth Face Mask</span></h5>
          <small class="mb-3">Offers full nose and mouth coverage. Single-sided print</small>
          <a href="https://teespring.com/octal-early-bird-face-musk?pid=972&cid=103974" class="btn btn-sm btn-primary" target="_blank">Buy</a>
          </div>
        </div>

        <div class="col-lg-3">

          <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
            <%=image_tag('iphone_cover.jpg', class:"img-fluid")%>
            <hr>
            <h5> <span class="badge bg-warning text-light">Iphone Cover</span></h5>
            <small class="mb-3">Otcal early bird Iphone coverst</small>
            <a href="https://teespring.com/otcal-early-bird-phone-covers?pid=633" class="btn btn-sm btn-primary" target="_blank">Buy</a>
          </div>

        </div>
        <div class="col-lg-3">

          <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
            <%=image_tag('sumsang_cover.jpg', class:"img-fluid")%>
            <hr>
            <h5> <span class="badge bg-success text-light">Samsung Cover</span></h5>
            <small class="mb-3">Otcal early bird Sasung coverst</small> <br>
            <a href="https://teespring.com/otcal-early-bird-phone-covers?pid=704" class="btn btn-sm btn-primary" target="_blank">Buy</a>
          </div>

        </div>

        <div class="col-lg-3">
          <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
            <%=image_tag('mug.jpg', class:"img-fluid")%>
            <hr>
              <h5> <span class="badge bg-danger text-light">Black Mug</span></h5>
              <small class="mb-3">Octal early bird mug</small> <br>
              <a href="https://teespring.com/octal-early-bird-mug?pid=658&cid=102950" class="btn btn-sm btn-primary" target="_blank">Buy</a>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</div>
<br><br><br>
