<%if current_user.supports.exists?%>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tbody>
      <% @supports.each do |support| %>
        <%= content_tag :tr, id: dom_id(support), class: dom_class(support) do %>
        <% if current_user && support.user == current_user %>
                      <td><%= support.subject %><br>
                       <small><span class="text-success"><%=time_ago_in_words(support.created_at) +" ago" %></span></small>
                      </td>
                      <td>
                        <%=truncate(support.message.html_safe, length: 30) %>
                      </td>
            <td><%= link_to support do %>
              <i class="far fa-list-alt"></i>
               <%end%>
            </td>
          <%end%>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @supports, list_classes: %w(pagination justify-content-end),renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<%else%>

<div class="bg-light text-primary text-center p-3">
  <i class="far fa-folder-open fa-2x"></i> <br>
<p>Nothing yet!</p>
</div>

<%end%>
